<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SuperPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <SuperPad.Properties.Settings>
            <setting name="Update" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="shareEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="sharePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="shareSSL" serializeAs="String">
                <value />
            </setting>
            <setting name="shareServer" serializeAs="String">
                <value />
            </setting>
            <setting name="sharePort" serializeAs="String">
                <value />
            </setting>
            <setting name="onTop" serializeAs="String">
                <value />
            </setting>
            <setting name="darkMode" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="rac" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="md5" serializeAs="String">
                <value>EE902F5C549319CB70008222C957BBB2</value>
            </setting>
            <setting name="allowsharing" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>2.4</value>
            </setting>
        </SuperPad.Properties.Settings>
    </userSettings>
</configuration>
